.search-area {
  text-align: center;
  vertical-align: center;
}

.ID-text {
  font-weight: 700;
  font-size: 130%;
  color: #135187;
  vertical-align: middle;
}

.form-control {
  vertical-align: middle;
  line-height: 29px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  font-size: 85%;
  color: #555555;
  font-weight: 300;
  width: 40%;
}

::-webkit-input-placeholder {
  color: lightgrey;
  font-weight: 300;
  word-spacing: 0.2px;
}

.home-btn-assess {
  vertical-align: middle;
  font-size: 90%;
  background-color: #f7931e;
  border-radius: 4px;
  border-style: none;
  color: white;
  padding: 5px 10px 5px 10px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.home-btn-assess:hover,
.home-btn-assess:active {
  background-color: orangered;
}

/*--------------------History-------------------*/
.form-check{
  font-size: 80%;
  font-weight: 300;
  margin-bottom: 3px;
  line-height: 20px;
  margin-left: 6px;
  padding: 3px 10px 3px 10px;
}
.form-check:hover,
.form-check:active,
.form-check:focus{
  background-color: #f1f8fe;
  box-shadow: 0 7px 27px 0 rgba(0,0,0,0.08);
}


.form-check a {
  color: #135187;
  font-weight: 500;
}


#close-loading {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  color: #555555;
  font-size: 100%;
  border-style: none;
  border-radius: 4px;
}

/*----------------From Original-------------*/
.loading-spinner-modal {

  height: 100%;

  font-size: 40px;

  color: #135187;

  text-align: center;

}

.modal {

  text-align: center;

  padding: 0;

}

.modal:before {

  content: '';

  display: inline-block;

  height: 100%;

  vertical-align: middle;

  margin-right: -4px;

}

.modal-dialog {

  display: inline-block;

  text-align: left;

  vertical-align: middle;

}

#card {

  width: 100%;

  margin: 0 auto auto auto;

  max-height: 510px;

  overflow-y: auto;

  overflow-x: hidden;

}

#keywords_card {

  width: 100%;

  margin: 0 auto auto auto;

  max-height: 510px;

  overflow-y: auto;

  display: none;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 7px 27px 0 rgba(0,0,0,0.08);
  padding: 16px 16px 16px 16px;

}

#keywords_card::-webkit-scrollbar,#card::-webkit-scrollbar {/*滚动条整体样式*/
  width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
#keywords_card::-webkit-scrollbar-thumb,#card::-webkit-scrollbar-thumb{/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
#keywords_card::-webkit-scrollbar-track,#card::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}

/*------------------ID-----------------*/
.card{
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 7px 27px 0 rgba(0,0,0,0.08);
  padding: 16px 16px 16px 16px;
}

.card-title a {
  color: #135187;
  font-size: 22px;
  font-weight: 600;
}