body {
  font-family: arial, 'Hiragino Sans GB', Tahoma, Arial, Helvetica, STHeiti;
  font-size: 14px;
}

.days-hours-heatmap {
  padding: 0 0 0 0;
  width: 460px;
  margin: 0 auto;
}

.days-hours-heatmap .calibration {
  margin-bottom: 15px;
  width: 400px;
}

.days-hours-heatmap .calibration .group {
  display: inline-block;
}

.days-hours-heatmap .calibration .description {
  width: 108px;
}

.days-hours-heatmap .calibration .description > label:last-child {
  float: right;
}

.days-hours-heatmap .calibration > .display-control {
  float: right;
}

.days-hours-heatmap .calibration > .display-control label {
  vertical-align: top;
}

.days-hours-heatmap .calibration > .display-control input[type='radio'] {
  cursor: pointer;
}

.days-hours-heatmap .heatmap .axis path {
  display: none;
}

.days-hours-heatmap .heatmap .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.days-hours-heatmap .heatmap .axis text {
  font-size: 12px
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
}

.navbar-toggle {
  z-index: 3;
}

.d3-tip {

  line-height: 1;

  max-width: 200px;

  padding: 12px;

  background: black;

  color: white;

}

.key-dot {

  display: inline-block;

  height: 10px;

  margin-right: .5em;

  width: 10px;

}

#legend-div {

  /*margin-top: 50px;*/

  text-align: center

}

.legend-item {

  /*margin: 0 !important;*/

  /*margin: auto !important;*/

  margin-left: 6px;

  margin-right: 6px;

}

.legend {

  margin-right: 20px;

}

.novelty-spot-legend {
  border: 2px solid #0d7af7
}

.patent-spot-legend {
  background: #f30808
}

.reference-list-item {

  padding-left: 0px;

  border: none;

}

.tooltip-inner {

  text-align: left;

  font-size: 120%;

  line-height: 1;

  padding-left: 15px;

  padding-top: 10px;

  padding-bottom: 10px;

}

#patent-number-input {

  width: 100%;

}

form span {

  display: block;

  overflow: hidden;

  padding: 0 5px 0 0;

}

#qsrxSearchbar {

  width: 100%;

  height: 50px;

  overflow: hidden;

}

#keywords-input {

  width: 100%;

}

#locate-button {

  width: 80px;

  float: right;

}

#search-button {

  width: 80px;

  float: right;

}

#x-axis-desc {

  font-size: 16px;

}

#y-axis-desc {

  font-size: 16px;

}

.list-group {

  font-size: 14px;

}

#logo {

  /*width: 220px;*/

  /*background-color: lavender;*/

  background-color: #f5f5f5;

  height: 115.36px;

  padding-top: 6px;

  padding-left: 45px;

}

#title {

  padding-top: 15px;

  /*background-color: lavender;*/

  background-color: #f5f5f5;

  height: 115.36px;

  text-align: left;

}

#inputBoxes {

  /*background-color: gray;*/

}

#interact {

  /*background-color: lavenderblush;*/

}

/*.row {



  margin-bottom: 50px;



}*/

.ui-autocomplete {

  max-height: 300px;

  overflow-y: auto;

  /* prevent horizontal scrollbar */

  overflow-x: hidden;

}

/* IE 6 doesn't support max-height



 * we use height instead, but this forces the menu to always be this tall



 */

* html .ui-autocomplete {

  height: 500px;

}

.card-body {

  margin: 19px;

}

.btn {

  padding-left: 5px;

  padding-right: 5px;

}

.card-text {

  margin-bottom: 10px;

}

#mainArea {

  margin-bottom: 0;

}

.loading-spinner-modal {

  height: auto;

  font-size: 60px;

  color: #337ab7;

  text-align: center;

}

.modal {

  text-align: center;

  padding: 0 !important;

}

.modal:before {

  content: '';

  display: inline-block;

  height: 100%;

  vertical-align: middle;

  margin-right: -4px;

}

.modal-dialog {

  display: inline-block;

  text-align: left;

  vertical-align: middle;

}

#card {

  width: 100%;

  margin: 8px auto auto auto;

  max-height: 433px;

  overflow-y: auto;

  overflow-x: hidden;

}

#keywords_card {

  width: 100%;

  margin: 8px auto auto auto;

  max-height: 433px;

  overflow-y: auto;

  overflow-x: hidden;

  display: none;

}

/*#abstract{



  max-height: 165px;



  overflow-y: auto;



  overflow-x: hidden;



}*/



